* {
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 1em;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.button {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  text-decoration: none;
  border-radius: 10px;
}

.button-icon {
  line-height: 0;
  border: 2px solid $color-2;
  padding: 0;
  background-color: transparent;
  border-radius: 99px;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $color-1;
  }

  &__img {
    width: 25px;
  }
}

.editing-error-message {
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: $color-6;
}

// Media queries

@media screen and (max-width: $laptop) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: $tablet) {
  .container {
    width: min(90%, 600px);
  }
}

@media screen and (max-width: $mobile) {
  .container {
    width: min(90%, 400px);
  }
}

@media screen and (max-width: $mobile-sm) {
  .container {
    width: min(90%, 300px);
  }
}

// Transitions - анимации

// Fade

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s, transform 0.25s;
}
.fade-enter,
.fade-leave-to {
  transform: translateY(-15px);
  opacity: 0;
}

// Slide

.slide-enter-active,
.slide-leave-active {
  transform: translateX(0px);
  transition: opacity 0.25s, transform 0.25s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
}

.slide-enter {
  transform: translateX(20px);
}

.slide-leave-to {
  transform: scale(0.9);
}
